.Form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem; 
    max-width: 16rem;
    margin-inline: auto;
}

.Form>input {
    display: flex;
    width: 16rem;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    align-items: center;
    border: 0;
    border-radius: 0.4rem;
    background: var(--primary-200);
}

.Form>select{
    display: flex;
    width: 16rem;
    height: 2.5rem;
    padding: 0rem 1.25rem;
    align-items: center;
    border: 0;
    border-radius: 0.4rem;
    background: var(--primary-200);
}

.Form>span{
    text-align: center;
}