/* .CouponsContainer{
    margin-bottom: 25px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: aqua;
    width: 1400px;
}

.Coupons{
    background-color:grey;
    width: 500px;
    position: relative;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: x-large;
    font-weight: 700;
} */