
/* 
.RegisterButton {
    width: 150px;
    height: 35px;
    background-color: rgb(159, 207, 162);
    border: none;
    border-radius: 5px;
    font-size: medium;
    color: black;
    text-align: center;
} */

.RegisterButton:hover {
    background-color: rgba(174, 243, 177, 0.842);
    transition: 200ms;
}

.LoginButton {
    width: 150px;
    height: 35px;
    margin-top: 5px;
    background-color: rgba(201, 201, 201, 0.555);
    border: none;
    border-radius: 5px;
    font-size: medium;
    color: black;
    text-align: center;
}

.LoginButton:hover {
    background-color: rgba(224, 224, 224, 0.671);
    transition: 250ms;
}