.CategoriesContainer {
    display: flex;
    max-width: 75rem;
    padding: 4rem 1.5rem;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.CategoriesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}